@font-face {
   font-family: 'ValeSans-Medium-web (1)';
   font-display: swap;
   src: url('file:///C:/Users/Seja%20Comunica%C3%A7%C3%A3o/AppData/Local/Mobirise.com/Mobirise/projects/project-2023-06-09_212156/fonts/ValeSans-Medium-web%20(1)/font.ttf');
}
